<head>
    <title>Journal Helper</title>
    <!-- Make viewport responsive for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load bootstrap from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Load my custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>

<div class="container">
    <h1>Welcome to your Journal!</h1>
    <div class="page-header">
        <h1 id="browse_title">Browse</h1>
        <form id="form_search">
            <input type="text" placeholder="Search...">
            <button type="submit">Submit</button>
        </form>

    </div>

    <div class="page-header">
        <h1>Random</h1>
        <button type="button" id="btn-random-entry" class="btn btn-lg btn-primary">Randomize!</button>
    </div>
    <div>
        <h2 id="random_date"></h2>
        <p id="random_entry_text"></p>
    </div>
</div>

{% block script %}
<!-- Load js for bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // TODO load in automatically without needing a click
        $("#browse_title").click(function() {
            console.log("click");
            $.ajax({
                url: "/entry/list/2020",
                success: function(result) {
                    console.log(result);
                }
            });
        });

        $("#btn-random-entry").click(function() {
            $.ajax({
                url: "/entry/random",
                success: function(result) {
                    entry_array = result["entry"]
                    $("#random_date").text(entry_array[0])
                    $("#random_entry_text").text(entry_array[1])
                } 
            })
        });

        $("#form_search").submit(function(event) {
            // TODO validate
            const search = $("#form_search input").val();
            console.log("searching: " + search);
            $.ajax({
                url:"/entry/search/" + search,
                success: function(result) {
                    console.log(result);
                }
            });

            event.preventDefault();
        });
    });
</script>
{% endblock %}